<div class="container">
    <h1 class="display-4">Form Validation Demo</h1>

    <p class="lead">
        Some examples about how the custom validation builder works, how to dynamically switch out/change validators and how to implement custom builders to extend existing functionality.
    </p>

    <hr>


    <accordion [isAnimated]="true">
        <accordion-group
            [isOpen]="true"
            heading="General Utilities">
            <p>Some content</p>
        </accordion-group>

        <accordion-group
            heading="Date Validation"
            [isOpen]="true">
            <tabset>
                <tab heading="Date Demo">
                    <div class="demo">
                        <app-date-demo></app-date-demo>
                    </div>
                </tab>
                <tab heading="Code">
                    <div class="demo">
                        <app-date-demo-code></app-date-demo-code>
                    </div>
                </tab>
            </tabset>
        </accordion-group>

        <accordion-group heading="String Validation" [isOpen]="true">
            <tabset>
                <tab heading="String demo">
                    <div class="demo">
                        <app-string-demo></app-string-demo>
                    </div>
                </tab>
                <tab heading="Code">
                    <div class="demo">
                        <app-string-demo-code></app-string-demo-code>
                    </div>
                </tab>
            </tabset>
        </accordion-group>

        <accordion-group heading="Numeric Validation" [isOpen]="true">
            <p>Some content</p>
        </accordion-group>

        <accordion-group heading="Custom Validation" [isOpen]="true">
            <p>Some content</p>
        </accordion-group>

    </accordion>
</div>