/* You can add global styles to this file, and also import other style files */

@use 'bootstrap/scss/bootstrap.scss' as *;
@use 'bootstrap/scss/mixins';
//@import './assets/styles/prism/vscode';
@use './assets/styles/prism/vs';

// @import 'font-awesome/scss/font-awesome.scss';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import 'ngx-bootstrap/datepicker/bs-datepicker.css';

// @import 'prismjs/themes/prism.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

markdown > * {
  max-width: 576px;
}

$gumshoe-width: 200px;

@include media-breakpoint-up(lg) {
  #gumshoe-nav {
    display: block !important;
  }
}

@include media-breakpoint-up(sm) {
  markdown > * {
    max-width: 576px;
  }
}

@include media-breakpoint-up(md) {
  markdown > * {
    max-width: calc(768px);
  }
}

@include media-breakpoint-up(lg) {
  markdown > * {
    max-width: calc(992px - #{$gumshoe-width});
  }
}

@include media-breakpoint-up(xl) {
  markdown > * {
    max-width: calc(1200px - #{$gumshoe-width});
  }
}

#gumshoe-nav {
  display: none;
  margin-left: 1rem;
  position: sticky;
  align-self: flex-start;

  right: 0;
  top: 2rem;
  margin-top: 2rem;

  .content {
    overflow: hidden;
    padding-left: 3px;

    ul {
      list-style: none;
      padding: 0;
      width: $gumshoe-width;
      border-left: 1px solid #80808026;

      li {
        position: relative;
        transition: all 0.3s;
        padding-left: 5px;
        border-radius: 3px;
        border-left: solid transparent;
        left: -3px;

        &:hover {
          &::before {
            left: -4px;
          }
        }

        &.active {
          border-left-color: #17a2b8;
        }

        a {
          color: #717171;
          text-decoration: none;
        }

        &:before {
          transition: left ease-out 0.2s;
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background: #17a2b821;
          border-left: 4px solid #17a2b8;
          border-radius: 3px;
          left: -#{$gumshoe-width};
          z-index: -1;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

h1 {
  border-bottom: 1px solid #80808026;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.demo {
  border-left: 5px solid $cyan;
  border-bottom: 1px solid $cyan;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 2rem 1rem 2rem;
}

blockquote {
  background: rgba(10, 133, 255, 0.14);
  border-left: 4px solid #06c;
  border-radius: 4px;
  color: #666;
  margin: 20px 0;
  padding: 1rem;
  font-size: 1rem !important;

  p:last-of-type {
    margin: 0;
  }
}

accordion-group {
  margin-bottom: 1rem;
}

.input-validation-error {
  border-color: $danger;
}

.field-validation-error {
  color: $danger;
}
